services:
  validator:
    image: "${VALIDATOR_IMAGE_REPO:-aptoslabs/validator}:${IMAGE_TAG:-{{ node_version }}}"
    volumes:
      - type: volume
        source: aptos-fullnode
        target: /opt/aptos/data
      - type: bind
        source: ./validator.yaml
        target: /opt/aptos/etc/validator.yaml
      - type: bind
        source: ./genesis.blob
        target: /opt/aptos/genesis/genesis.blob
      - type: bind
        source: ./waypoint.txt
        target: /opt/aptos/genesis/waypoint.txt
      - type: bind
        source: ./keys/validator-identity.yaml
        target: /opt/aptos/genesis/validator-identity.yaml
    command: ["/usr/local/bin/aptos-node", "-f", "/opt/aptos/etc/validator.yaml"]
    restart: unless-stopped
    ports:
      - "6180:6180"
      - "6181:6181"
      - "{{ ansible_host }}:8081:8080"
      - "{{ ansible_host }}:9101:9101"
    logging:
        driver: "json-file"
        options:
          max-size: "10m"
          max-file: "3"

volumes:
  aptos-fullnode:
    name: aptos-fullnode
